<div class="header">
  <img src="/static/img/logo.png" alt="logo" style="height: 6em;margin-left: 2em;margin-top: 2em">
  <div class="nav nav_link">
  <span class="vert_hr"></span>
    <a href="#/login" class="btn btn-link">Log In</a>
    <span class="vert_hr"></span>
    <a href="#/register" class="btn btn-link">Sign Up</a>
  </div>
</div>

  <div id="join">

    <div class="landing">

<!--      <img class="youtubelogo" src="../static/img/playbutton_blue.png" alt="" /> -->
<!--      <button class="btn btn-info btn-lg" ng-click="room()">Start Listening Now</button> -->

 <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Synchronously watch videos and listen to music with your friends</h2>
            </div>
        </div>
        <div class="row">
            <ol class="main_boxes">
                <li>
                    <h3>Video</h3>
                    <img class="icon" src="/static/img/video-player.png">
                    
                    <p class="description">You share videos</p>
                </li>

                <li>
                    <h3>Music</h3>
                    <img class="icon" src="/static/img/music-player.png">
                    
                    <p class="description">You share music</p>
                </li>
                <li>
                    <h3>Talk</h3>
                    <img class="icon" src="/static/img/user.png">
                    
                    <p class="description">You chat with friends</p>
                </li>
            </ol>
        </div>
    </div>
<div style="color: black">Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver" style="color: black">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon" style="color: black">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank" style="color: black">CC 3.0 BY</a></div>


    </div>
  </div>
<div id="introduction">
  <div class="hr"></div>
  <h3>Experience video and music with your friends</h3>
  <h2>Watch! Listen! Chat! Share!</h2>

    <p><a href="#/login" class="btn btn-link main_btn">Log In</a><a href="#/register" class="btn btn-link main_btn">Sign Up</a></p>
    <div class="hr"></div>
    
  <img class ="small_logo" src="../static/img/logo.png" alt="" style="height: 2em;margin: 2em;">

  <p>
      <i class="fa fa-facebook-square fa-2x"></i> 
      <i class="fa fa-twitter-square fa-2x"></i> 
      <i class="fa fa-instagram fa-2x"></i> 
  </p>
  <p>Powered by</p>
  <p><i class="fa fa-youtube fa-2x"></i></p>
</div>



            </div>




<footer>
  <p style="color: #fff;padding: 1em;text-align: right;">beatbud © 2016</p>
</footer>


