<a ng-href="#/dashboard">Cancel</a>

<h2>Put the question and options here: </h2>
<p>Question: <input type="text" ng-model="newsurvey.question"></p>
<p>Option 1: <input type="text" ng-model="newsurvey.optionone"></p>
<p>Option 2: <input type="text" ng-model="newsurvey.optiontwo"></p>
<p>Option 3: <input type="text" ng-model="newsurvey.optionthree"></p>
<p>Option 4: <input type="text" ng-model="newsurvey.optionfour"></p>
<div ng-if="hasErrors">
	<p ng-repeat="error in errors">{{error.message}}</p>
</div>
<p><button ng-click="create()">Create Poll</button></p>