<a ng-href="#/dashboard">Go to Polls</a>


<p>{{survey._user.name}} asks: <strong>{{survey.question}}</strong></p>
<p>Click the Vote button to choose one</p>

<hr>
<table>
	<thead>
		<tr>
			<td>Option</td>
			<td>Current Count of Votes</td>
			<td>Action</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{survey.optionone.name}}</td>
			<td>{{survey.optionone.votes}}</td>
			<td><button ng-click="vote('optionone')">Vote</button></td>
		</tr>
		<tr>
			<td>{{survey.optiontwo.name}}</td>
			<td>{{survey.optiontwo.votes}}</td>
			<td><button ng-click="vote('optiontwo')">Vote</button></td>
		</tr>
		<tr>
			<td>{{survey.optionthree.name}}</td>
			<td>{{survey.optionthree.votes}}</td>
			<td><button ng-click="vote('optionthree')">Vote</button></td>
		</tr>
		<tr>
			<td>{{survey.optionfour.name}}</td>
			<td>{{survey.optionfour.votes}}</td>
			<td><button ng-click="vote('optionfour')">Vote</button></td>
		</tr>
	</tbody>
</table>
<div ng-repeat="answer in (topic._answers | orderBy: '-created_at') track by $index">
	<p><a href="#/user/{{answer._user._id}}">{{answer._user.name}}</a> : {{answer.text}} <span style="color: green">{{answer.upvotes}}</span><button ng-click="upvote(answer._id)">Upvote</button> <span style="color: red">{{answer.downvotes}}</span><button ng-click="downvote(answer._id)">Downvote</button></p>
	<p ng-repeat="comment in answer._comments | orderBy: '-created_at'"><a href="#/user/{{comment._user._id}}">{{comment._user.name}}</a> : {{comment.text}}</p>
	<p><textarea cols="30" rows="5" ng-model="answer.newcomment"></textarea></p>
	<p><button ng-click="createComment(answer._id)">Comment</button></p>
</div>